*{padding:0;margin:0;}
body{width:960px;height:auto;margin:0px auto;}

#container{height:auto;margin-top:0px;}

#side-bar,#main{float:left;height:100%;}
#side-bar{
	position: fixed;
	width:150px;
	background:#000;
	background-image: url("image/noisy-trans.png");
/*
	background-image: url("image/download0.5.png");
	background-image: url("image/old-wall.png");
	background-image: url("image/brushed-alum-dark.png");
*/
}
#main{
	width:680px;
	margin-top:10px;
	margin-left:160px;
	background:#FFF;
	color:#333;
	font-size:75%;
}
#side-menu{
	margin-top:10px;
}
#side-prof{
	font-size: 62.5%;
	margin-top:200px;
	margin-left:5px;
	color:white;
}
.square_btn{
	margin: 2px;
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: white;
	transition: .4s;
	width: 100px;
}
